<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keywords</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-dark">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-10 mx-auto p-4 card">
                <div class="card-header">
                    <h3>Keywords</h3>
                    <p class="text-right"><a href="/keywords/create" class="btn btn-primary">Add Keyword</a></p>
                </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Keyword</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for keyword in keywords %}
                    <tr>
                        <td><a href="/keywords/{{keyword[3]}}/view" class="btn btn-info">View</a></td>
                        <td>{{keyword[0]}}</td>
                        <td>{{keyword[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>       
            </div>
        </div>
    </div>
</body>
</html>