<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
   
<body class="bg-dark">
    <div class="container ">
        <div class="flex-column ">
            <div class=" p-2">
                <a href="/quotes" style="text-decoration: none;color: inherit;">
                <div class="card  bg-primary text-white">
                    <div class="card-header">
                        <h3>Quotes</h3>
                    </div>
                    <div class="card-body">
                        <p>View all Quotes</p>
                        <p>Count <span class="badge badge-secondary">20</span></p>
                    </div>
                    <div class="card-footer">
                        <p class="text-right"><a href="/quotes" class="btn btn-success">View</a></p>
                    </div>
                </div>
            </a>
            </div>
            <div class="  p-2">
                    <a href="/categories" style="text-decoration: none;color: inherit;">
                    <div class="card bg-info text-white">
                        <div class="card-header">
                            <h3>Categories</h3>
                        </div>
                        <div class="card-body">
                            <p>View all Categories</p>
                            <p>Count <span class="badge badge-secondary">20</span></p>
                        </div>
                        <div class="card-footer">
                            <p class="text-right"><a href="/categories" class="btn btn-success">View</a></p>
                        </div>
                    </div>
                </a>
            </div>
       
                <div class="  p-2">
                        <a href="/keywords" style="text-decoration: none;color: inherit;">
                        <div class="card bg-warning ">
                            <div class="card-header">
                                <h3>Keywords</h3>
                            </div>
                            <div class="card-body">
                                <p>View all Keywords</p>
                                <p>Count <span class="badge badge-secondary">20</span></p>
                            </div>
                            <div class="card-footer">
                                <p class="text-right"><a href="/keywords" class="btn btn-success">View</a></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </div>


</body>
</html>