<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
   
<body class="bg-dark">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mx-auto p-4    ">
                    <div class="card">
                            <div class="card-header">
                                <h4>Create a Category</h4>
                            </div>
                            <div class="card-body">
                                <form action="/category/store" method="post">
                                <div class="form-group">
                                    <label for="category">Enter the  Name of the Category</label>
                                    <input type="text" class="form-control" name="category">
                                </div>
                                <div class="form-group">
                                    <label for="description">Enter the description</label>
                                    <textarea rows="10" cols="80" name="description" class="form-control"></textarea>
                                </div>
                               
                                <input type="submit"  class="btn btn-success" value="Add Category">
                                <input type="reset" class="btn btn-danger" value="Cancel">
                                </form>
                            </div>
                        </div>
            </div>
           

        </div>
    </div>


</body>
</html>