<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
   
<body class="bg-dark">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-10 mx-auto p-4 card">
                <div class="card-header">
                    <h3>View Categories</h3>
                    <p class="text-right"><a href="/category/create" class="btn btn-primary">Add Category</a></p>
                </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Quote</th>
                        <th>Author</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#" class="btn btn-info">View</a></td>
                        <td>Practice makes Perfect</td>
                        <td>Unknown</td>
                        <td>Motivational</td>
                    </tr>
                    
                </tbody>


            </table>       



            </div>
           
        </div>
    </div>


</body>
</html>