<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
   
<body class="bg-dark">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-10 mx-auto p-4 card">
                <div class="card-header">
                    <h3>View Quote</h3>
                    <p class="text-right"><a href="/quotes/edit" class="btn btn-primary">Edit</a></p>
                </div>
                <div class="card-body">
                    <h3>Practice Makes Perfect</h3>
                    <p>Unknown</p>
                    <p>Keywords</p>
                </div>
            </table>       
            </div>          
        </div>
    </div>


</body>
</html>